<%- include("../includes/start.ejs") %>
    <link rel="stylesheet" href="/css/admindashboard.css">
    </head>

    <body>
        <header>
            <div class="logo">
                Big Data Centre of Excellence
            </div>
            <nav>

            </nav>
            <div class="logout">
                <form action="/admin/api/v1/logout" method="GET">
                    <button type="submit">Logout</button>
                </form>
            </div>
        </header>
        <div class="container">
            
        </div>
        <footer>

        </footer>
    </body>

    </html>