<%- include("../includes/start.ejs") %>
</head>
<body>
    <form action="/api/v1/attendance" method="POST">
        <input type="text" name="username" placeholder="username" required>
        <input type="password" name="password" placeholder="password" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>